@font-face {
  font-family: Reforma_1969;
  src: url(./assets/fonts/reforma.1969-gris.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Niramit ExtraLight Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Niramit ExtraLight Regular"),
    url(./assets/fonts/Niramit-ExtraLight.woff) format("woff");
}

body {
  margin: auto;
  font-family: Reforma_1969, AXtManalBold Regular, Helvetica, Arial,
    Microsoft Yahei, PingFang SC, PingFang TC, PingFang HK, Hiragino Sans,
    sans-serif;
}

.hero-section {
  position: relative;
}

.nav-top {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.nav-bar-1 {
  display: flex;
  justify-content: center;
}

.nav-bar-1 ul {
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-bar-1 li {
  /* margin: 1rem 2rem; */
  padding: 0.7rem 1.7rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

#logo {
  margin-right: 10rem;
}

.icon-logo {
  width: 2.2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.arrow-icon {
  display: flex;
}

.nav-bar-1 .arrow-icon span {
  display: flex;
  width: auto;
  margin-left: 5px;
  color: black;
}

.bookNowButton {
  background-color: #baa382;
  color: white;
}

.heroView {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  min-height: 800px;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.heroFrame {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.heroFrame img {
  position: absolute;
  top: 0;
  z-index: 1;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.heroText {
  z-index: 11;
  text-align: center;
}

.heroText h1,
p {
  margin: 0 5rem;
  font-size: 3rem;
  letter-spacing: 0.75rem;
}

.heroText p {
  margin-top: 30px;
  font-size: 1.3333rem;
  letter-spacing: normal;
}

.nav-bottom {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-bar-2 {
  margin: auto;
  padding: 0 20px;
  max-width: 1455px;
}

.nav-bottom ul {
  display: flex;
  margin: auto;
  list-style: none;
  color: white;
}

.nav-bottom li {
  font-family: "Niramit", sans-serif;
  margin: 0.7rem 0rem;
  font-size: 0.9rem;
}

.nav-bar-2 .arrow-icon span {
    display: flex;
    width: auto;
    margin-left: 5px;
    width: 15px;
    margin: 0 0.5rem;
    color: white;
    transform: rotate(-90deg);
}

.desc-banner-wrapper {
  background-color: #e7e6e2;
  padding: 50px 80px;
}

.banner-container {
    display: flex;
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    /* justify-content: center; */
    max-width: 1330px;
    margin: auto 6.5rem;
}

.photo-container{
    display: flex;
    min-height: 490px;
    width: 62%;
    margin: auto;
}

.desc-container {
    width: 38%;
    margin-top: 60px;
    /* padding-right: 75px;
    padding-top: 55px; */
}

.desc-p {
    margin-top: 32.8125px;
    padding-left: 45px;
    padding-right: 70px;
}

.desc-container h2 {
    font-family: Reforma_1969, AXtManalBold Regular, Helvetica, Arial,
        Microsoft Yahei, PingFang SC, PingFang TC, PingFang HK, Hiragino Sans,
        sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: 5px;
    margin: 0px;
}

.desc-container p {
    font-family: Niramit, "AXtManalBold Regular", Helvetica, Arial,
        "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
        "Hiragino Sans", sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: normal;
    margin: 0px;
}

.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: white;
}

.comparison-slider {
  position: relative;
  width: 100%;
  margin: 0;
  height: 490px;
  overflow: hidden;
  box-sizing: border-box;
}

.comparison-slider > img {
    margin: auto;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    inset: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.comparison-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.comparison-slider .resize img {
    position: absolute;
    margin: auto;
    display: block;
    object-fit: cover;
    inset: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 517px;
    max-height: 517px;
}

.divider {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.2);
  left: 70%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: ew-resize;
}

.divider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -7px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}

.divider:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -3px;
  top: 50%;
  margin-top: -6px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}

.divider.draggable:before {
  width: 30px;
  height: 30px;
  left: -12px;
  margin-top: -15px;
}

.divider.draggable:after {
  width: 20px;
  height: 20px;
  left: -7px;
  margin-top: -10px;
  background-color: #555;
}
